{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div style="align-content: center">
        <h2>Интернет-магазин постеров и картин</h2>
    Мы собрали для вас каталог репродукций картин художников, постеры, ретро-плакаты.
    Выбирайте из сотен тысяч картин и постеров в нашем каталоге или создавайте картины из своих фото.
    С нами вы оживите как современный, так и классический интерьер
    </div>
{% endblock %}
